<launch>
  <node pkg="qrcode_reader" type="qrcode_reader" name="qrcode_reader" output="screen">
    <param name="camera" type="str" value="/stereo/left/image"/>
    <!-- // for debugging
    <param name="camera" type="str" value="/usb_cam/image_raw"/>
    -->
    <param name="debug_img" type="bool" value="true"/>
  </node>
</launch>
